
html,body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0;
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
  }
  ::-webkit-scrollbar { 
    display: none; 
}

  .outerDiv{
		height: 100vh;
    width: 100vw; 
		margin: 0px auto;
    padding: 5px;
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    }
   
    .second-logo{
    height: 80%;
    width: 70%;
    margin-left: 10vw;
    } 


 

  .bg-hd{
    font-family: 'Acme', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Courgette', cursive;
font-size: 40px;
margin-bottom: 10px;
  }


@media screen and (max-width: 500px){
  .second-logo{
    height: 50;
  }
}


.about-my{
  height: 152vh;
  width: 100vw; 
  background-image: url("../images/pic1.jpg");
  background-size: 100vw 100vh;
   background-repeat:no-repeat;
  
}
@media screen and (max-width: 500px){
  .about-my{
    height: 320vh;
  }
}
.gallery{
  height: 130vh;
  width: 100vw; 
  background-image: url("../images/pic2.jpg") !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-size: 100vw 100vh;

}
.context-dark, .bg-gray-dark, .bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
  
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: .22s ease;
  
}


@media screen and (max-width: 500px){
  .gallery{
    height: 350vh;
  }
}

@media screen and (max-width: 500px){
  .register{
    margin-bottom: 50vh;
  }
}